<section class="row">
  <div class="col-12 inc-header">
    <header class="py-4">
      <button ng-click="vm.openForm()" type="button" class="btn btn-primary">
        <i class="fa fa-plus fa-fn"></i> Apontamento
      </button>
      <button ui-sref="pestPointingMap" type="button" class="btn btn-primary">
        <i class="fa fa-map fa-fn"></i> Ver Mapa
      </button>
    </header>
  </div>
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data/Hora</th>
            <th>Coordenada</th>
            <th>Quantidade</th>
            <th>Observações</th>
            <th>Etiqueta</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pestPointing in vm.pestPointings">
            <td>{{ pestPointing.id }}</td>
            <td>{{ pestPointing.datetime | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>
              <i class="fa fa-map-marker fa-fw"></i>
              {{ pestPointing.latitude }}, {{ pestPointing.longitude }}
            </td>
            <td>{{ pestPointing.quantity }}</td>
            <td>{{ pestPointing.note }}</td>
            <td><tag quantity="pestPointing.quantity"></tag></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
