<section class="row">
  <div class="col-12 inc-header">
    <header class="py-4">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#incForm">
        <i class="fa fa-plus fa-fn"></i> Apontamento
      </button>
      <button ui-sref="pestPointingMap" type="button" class="btn btn-primary">
        <i class="fa fa-map fa-fn"></i> Ver Mapa
      </button>
    </header>
  </div>
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data/Hora</th>
            <th>Coordenada</th>
            <th>Quantidade</th>
            <th>Observações</th>
            <th>Etiqueta</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pestPointing in vm.pestPointings">
            <td>{{ pestPointing.id }}</td>
            <td>{{ vm.dateService.formatDateTime(pestPointing.datetime) }}</td>
            <td>
              <i class="fa fa-map-marker fa-fw"></i>
              {{ pestPointing.latitude }}, {{ pestPointing.longitude }}
            </td>
            <td>{{ pestPointing.quantity }}</td>
            <td>{{ pestPointing.note }}</td>
            <td><div class="inc-tag {{ vm.getTagColor(pestPointing.quantity) }}"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<div class="modal fade" id="incForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="incFormLabel">Apontar Pragas</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="vm.form" ng-class="{'was-validated': vm.form.$submitted}" ng-submit="vm.form.$valid && vm.save()" novalidate>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="id_latitude">Latitude</label>
              <input ng-model="vm.pestPointing.latitude" type="text" class="form-control" id="id_latitude" name="latitude" placeholder="Latitude" required />
              <div ng-show="vm.form.latitude.$error.required" class="invalid-feedback">
                Campo obrigatório
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="id_longitude">Longitude</label>
              <input ng-model="vm.pestPointing.longitude" type="text" class="form-control" id="id_longitude" name="longitude" placeholder="Longitude" required />
              <div ng-show="vm.form.longitude.$error.required" class="invalid-feedback">
                Campo obrigatório
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="id_quantity">Quantidade</label>
            <input ng-model="vm.pestPointing.quantity" type="number" class="form-control" id="id_quantity" name="quantity" placeholder="Quantidade" required />
            <div ng-show="vm.form.quantity.$error.required" class="invalid-feedback">
              Campo obrigatório
            </div>
          </div>
          <div class="form-group">
            <label for="id_note">Observações</label>
            <textarea ng-model="vm.pestPointing.note" id="id_note" rows="3" class="form-control" id="id_note" placeholder="Observações"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" ng-click="vm.resetForm()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Apontar</button>
        </div>
      </form>
    </div>
  </div>
</div>